.section-about {
  // padding: 25rem 0 50rem 0;
  height: 100vh;
  // color: white;
  // margin-top: -20vh;
  // background: #181818;
  // background: #151515;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    url("../img/intro-bg-flipped.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  // @include respond(tab-port) {
  //   padding: 20rem 0 25rem 0;
  // }

  // @include respond(phone) {
  //   padding: 17.5rem 0 27.5rem 0;

  //   @media screen and (min-height: 900px) {
  //     padding: 30rem 0 30rem 0;
  //   }
  // }
}

.section-projects {
  // padding: 20rem 0;
  // background-image: linear-gradient(
  //   to right bottom,
  //   rgba($color-primary-dark, 0.6),
  //   rgba($color-primary-light, 1)
  // );
  background-color: #222222;

  background-size: cover;
  background-position: top;
  position: relative;

  transform: skewY(-7deg);
  margin-top: -15rem;

  & > * {
    transform: skewY(7deg);
  }

  @include respond(phone) {
    padding: 10rem 0;
  }
}

.section-tours {
  padding: 25rem 0 0rem 0;
  margin-top: -15rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;
  // background-image: linear-gradient(
  //     to right bottom,
  //     rgba(0, 0, 0, 0.85),
  //     rgba(0, 0, 0, 0.85)
  //   ),
  //   url("../img/small-intro-bg-1.jpg");
  // background-size: cover;
  background-color: #222222;
  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.section-contact {
  padding: 4rem 0 10rem 0;
  background-color: #222222;
  // height: 100vh;
}

.contact-me {
  text-align: center;
  font-size: $default-font-size;

  * {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &__phone-section,
  &__email-section,
  &__word-section {
    color: white;
    background-color: #161616;
    box-shadow: 0 0.5rem 1.5rem rgba($color-black, 0.4);
    padding: 4rem 2rem;
    width: 25rem;
    display: inline-block;
    // margin: 5rem;
    transition: all 0.2s;
    border-radius: 50rem;

    @include respond(tab-port) {
      margin: 1.5rem;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__label {
    text-transform: uppercase;
  }

  &__text {
    @include respond(tab-port) {
      margin-bottom: 0 !important;
    }
  }

  &__email,
  &__phone-number {
    font-size: 1.5rem;
    color: #777;
  }
}
