.section-about {
  height: 65vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.86),
      rgba(0, 0, 0, 0.86)
    ),
    url("../img/intro-bg-flipped.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @include respond(tab-port) {
    height: 80vh;
  }

  @include respond(phone) {
    height: 100vh;
  }
}

.section-projects {
  background-color: #212121;

  background-size: cover;
  background-position: top;
  position: relative;

  @include respond(phone) {
    // padding: 10rem 0;
  }
}

.section-tours {
  padding-top: 25rem;
  margin-top: -15rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  padding-top: 10rem;
  position: relative;
  background-color: #212121;

  .data-initials {
    &--bah {
      &:before {
        background: #196d70;
      }
    }

    &--cvp {
      &:before {
        background: #3876d3;
      }
    }

    &:before {
      color: white;
      content: attr(data-initials);
      display: inline-block;
      font-weight: 400;
      font-size: 3.5rem;
      width: 15rem;
      height: 15rem;
      line-height: 5.5rem;
      text-align: center;
      padding-top: 4.5rem;

      @include respond(tab-port) {
        padding-top: 4rem;
      }

      @include respond(phone) {
        margin-left: -2.5rem;
        padding-top: 2rem;
      }
    }
  }

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.section-contact {
  padding-top: 4rem;
  padding-bottom: 10rem;
  background-color: #212121;
}

.contact-me {
  text-align: center;
  font-size: $default-font-size;

  * {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &__email-section {
    cursor: pointer;
  }

  &__phone-section,
  &__email-section,
  &__word-section {
    color: white;
    background-color: #161616;
    box-shadow: 0 0.5rem 1.5rem rgba($color-black, 0.4);
    padding: 4rem 2rem;
    width: 30rem;
    display: inline-block;
    transition: all 0.2s;
    border-radius: 50rem;
    border: 0.25rem solid transparent;

    @include respond(tab-port) {
      margin: 1.5rem;
    }

    @include respond(phone) {
      width: 25rem;
    }
    &:hover {
      transform: scale(1.1);
      border: 0.25rem solid #464646;
      background-color: #1d1d1d;
    }
  }

  &__label {
    text-transform: uppercase;
  }

  &__text {
    @include respond(tab-port) {
      margin-bottom: 0 !important;
    }
  }

  &__email,
  &__phone-number {
    font-size: 1.5rem;
    color: #777;
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  top: 2rem; /* Place the button at the bottom of the page */
  right: 2rem; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  // padding: 15px; /* Some padding */
  height: 3.5rem;
  width: 3.5rem;
  // border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-weight: 800;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-timing-function: ease;
}

section {
  padding-left: 2rem;
  padding-right: 2rem;
  animation-name: fadeInSection;
  animation-duration: 1s;
  animation-timing-function: ease;
}

footer {
  animation-name: fadeInSection;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.duration {
  @include respond(tab-port) {
    display: none;
  }
  @include respond(phone) {
    display: none;
  }
}
