.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 10;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out,
      outline 0.1s ease-out;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 30%;
      margin: 1%;
    }

    &--p3 {
      left: 20%;
      @include respond(tab-port) {
        left: 10%;
        width: 75%;
      }
    }

    &:hover {
      transform: scale(1.05) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.6);
      z-index: 20;
      outline: 0.25rem solid $color-primary;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
