.story {
  transition: 0.2s ease-out;
  width: 75%;
  margin: 0 auto;
  background-color: #161616;
  border-radius: 0.5rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  border: 0.25rem solid transparent;

  @include respond(phone) {
    padding: 3rem;
    padding-left: 4.5rem;
    width: 75%;
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    overflow: hidden;
    position: relative;

    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);

    transform: translateX(-3rem);

    @include respond(phone) {
      width: 10rem;
      height: 10rem;
    }
  }

  &__image {
    height: 100%;
    transform: scale(1.4);
    transition: all 0.5s;
    backface-visibility: hidden;

    @include respond(phone) {
      transform: scale(1.2);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }
  &:hover {
    // padding: 7rem;
    // padding-left: 10rem;
    border: 0.25rem solid #464646;
    background-color: #1d1d1d;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__image {
    transform: scale(1.7);
    @include respond(phone) {
      transform: scale(1.5);
    }
  }

  .data-initials {
    &:before {
      transition: font-size 0.2s ease-out;
    }
  }

  &:hover .data-initials {
    &:before {
      font-size: 4.5rem;
    }
  }
}
