.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.85)
    ),
    url("../img/intro-bg.jpg");
  // background: #0b0c0d;
  // background-image: url("../img/DO.png");
  // background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: 0px -200px;
  //   -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  //   clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  filter: grayscale(50%);

  // @include respond(phone) {
  //   // -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  //   // clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  // }

  &__logo-box {
    @include centerItems;
  }

  &__logo {
    height: 20rem;
    transition: all 0.2s ease;

    @include respond(phone) {
      height: 15rem;
    }
  }

  &__text-box {
    // position: absolute;
    // left: 50%;
    // top: 10%;
    // top: 3.5rem;
    // left: 12rem;
    // transform: translate(-50%, -50%);
    // text-align: center;
    // width: 90%;
    padding-top: 35vh;
  }

  &__social-links {
    position: relative;
    text-align: center;
    /* opacity: 0.8; */

    color: white !important;

    a {
      text-decoration: none;
      // color: #656d78;
      // color: #2c3136;
      color: $color-grey-dark;
      font-size: 40px;
      transition: all 0.2s ease;
      margin: 10px;
      display: inline-block;
      opacity: 0.8;
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-timing-function: ease;

      &:hover {
        color: white !important;
        opacity: 1 !important;
        transform: translateY(-3px) scale(1.05);
        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.4));
      }
      &:active {
        transform: translateY(-1px);
        filter: drop-shadow(0px 2.5px 5px rgba(0, 0, 0, 0.4));
      }

      @include respond(phone) {
        font-size: 4rem;
        margin: 1.5rem;
      }
    }
  }
}
