.header {
  height: 100vh;

  .mobile-only {
    display: none;
    @include respond(phone) {
      display: block;
      position: absolute;
      font-size: 2rem;
      text-align: center;
      top: 70%;
    }
  }

  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.86),
      rgba(0, 0, 0, 0.86)
    ),
    url("../img/intro-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
  filter: grayscale(50%);

  &__logo-box {
    position: absolute;
    padding-right: 2rem;
    z-index: 25;
    @include centerItems;

    @include respond(tab-port) {
      padding-bottom: 0rem;
    }

    @include respond(phone) {
      padding-right: 0;
      top: 50%;
    }
  }

  &__logo {
    z-index: 25;

    height: 50rem;
    opacity: 0.6;
    @include respond(tab-port) {
      height: 40rem;
    }
    @include respond(phone) {
      height: 25rem;
    }

    animation-name: fadeInAndGrow;
    animation-duration: 1s;
    animation-timing-function: ease;
  }

  &__text-box {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 50;
    margin: 0;
    width: 100%;
    @include respond(tab-port) {
      top: 50%;
    }
    @include respond(phone) {
      top: 30%;
    }
  }

  &__social-links {
    position: relative;
    text-align: center;

    color: white !important;

    a {
      text-decoration: none;
      color: $color-grey-dark;
      font-size: 40px;
      transition: all 0.2s ease;
      margin: 10px;
      display: inline-block;
      opacity: 0.8;
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-timing-function: ease;

      &:hover {
        color: white !important;
        opacity: 1 !important;
        transform: translateY(-3px) scale(1.05);
        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.4));
      }
      &:active {
        transform: translateY(-1px);
        filter: drop-shadow(0px 2.5px 5px rgba(0, 0, 0, 0.4));
      }

      @include respond(phone) {
        font-size: 4rem;
        margin: 1.5rem;
      }
    }
  }
}

.header-content {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  animation-name: fadeInAndGrowText;
  animation-duration: 1s;
  animation-timing-function: ease;
  width: 100%;
  z-index: 50;
  @include respond(tab-port) {
    top: 50%;
  }
  @include respond(phone) {
    top: 20%;
  }
}
