.Header-color {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.Home {
  background: transparent;
  margin: auto;
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 610px) {
  .Top-navigation {
    display: none !important;
  }
}

.Avatar {
  /* Circle & Size */
  transform: scale(0.85);
  border-radius: 50%;

  /* Center */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  /* Slow zoom-out transition */
  transition: all 300ms;
  position: static;
}

.Avatar:hover {
  transform: scale(1);
  transition: all 300ms;
  animation: glow 1s linear infinite alternate;
}

@media (min-width: 1600px) {
  .Avatar:hover {
    transform: scale(1.5);
  }
  .Avatar {
    transform: scale(1.25);
  }
}

@keyframes glow {
  to {
    box-shadow: 0px 0px 10px 10px #ededed;
  }
}

.Nav:hover {
  background-color: #686767;
  transition: 200ms;
}

.Nav {
  transition: 200ms;
}

.Particles {
  position: fixed;
  width: 100%;
  height: 100%;
}

.mdl-layout__drawer-button {
  background-color: transparent !important;
}

.Footer {
  /* In front of background */
  transform: scale(1);

  /* Metallic gradient bg */
  background-color: #bdcad9;
  background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
}
.mdl-layout__drawer-button {
  /* Invisible */
  background-color: transparent;
}
.Page {
}

.Avatar-caption {
  /* Size, shape, & color */
  transform: scale(0.8);
  background-color: black;
  border-radius: 40px;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
  position: static;
}

.Caption-text {
  color: white;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.Layout {
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}
