html,
body {
    height: 100%;
    background-color: #eee;
    font-family: "Inter", sans-serif;
}

.home {
    background-color: white;
    font-family: "Inter", sans-serif;
}

html {
    /* scroll-behavior: smooth; */
}

/* Default App Styling */

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

/* End of Default App Styling */

.nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: fixed;
    top: 0;
    background-color: #383838;
    /* background-color: #555555; */
    /* background-color: #333; */
    color: #ccc;
    width: 100%;
    min-height: 66px;
    box-sizing: auto !important;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 5vw;
    text-decoration: none;
    width: 10vw;
    font-size: 1em;
    min-height: 100%;
    font-family: "Inter", sans-serif;
}

.nav li a:hover {
    /* background-color: #ccc; */
    /* color: rgb(61, 129, 185); */
    background-color: rgba(106, 106, 106, 0.5);
    transition: all 0.05s ease 0s;
    text-decoration: none;
}

.nav .icon {
    display: none;
    color: #6d6d6d;
    width: 25px;
}

.nav .icon:hover {
    text-decoration: none;
    color: #858585;
}

#hamburger {
    font-size: 2em;
    margin-left: 1em;
}

.intro-section {
    min-height: calc(100vh - 66px);
    background-image: url("./components/intro-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-section,
.about-me,
.projects,
.resume,
.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin: 66px 0 0 0;
    font-family: "Inter", sans-serif;
}

.about-me,
.projects,
.resume {
    min-height: 50vh;
    padding-bottom: 3em;
}

.intro-section {
    padding-top: 66px;
    width: 100%;
}

.personal-logo {
    padding-top: 25px;
}

.name {
    text-align: center;
    font-size: 6vw;
    white-space: nowrap;
    /* color: #333; */
    color: #313131;
    margin: 25px 0px;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    font-family: "Poppins", sans-serif;
}

.software-developer {
    text-align: center;
    /* color: #888; */
    color: #717171;
    font-size: 3vw;
}

.skills {
    text-align: center;
    font-size: 2vw;
    color: #717171;
}

.social-links {
    margin: 25px 0px 75px 0px;
}

.social-links a {
    padding: 10px;
    /* color: #333; */
    color: #313131;
    transition: 0.05s all;
}

.social-links a:hover {
    color: rgba(106, 106, 106, 1);
    transition: 0.05s all;
}

.social-links a i {
    padding-top: 10px;
    font-size: 4vw;
    margin: 0 0.25em;
}

.header {
    min-height: 10vh;
    font-size: 2vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2e2e2e;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    padding: 0px 50px;
}

.about-me {
    color: #333;
    background-color: #eee;
    padding-right: 15%;
    padding-left: 15%;
}

.about-me-contents {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-greeting {
    font-size: 3vw;
}

.about-me-body {
    font-size: 1.5vw;
}

.about-me-avatar {
    margin: 2em;
    width: 30vw;
    border-radius: 50%;
}

.about-me-right {
    flex: 1;
    margin: 2em 2em 2em 0;
}

.about-me-left {
    flex: 1;
    margin: 2em;
}

.avatar-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    color: #333;
}

.project-contents {
    margin-top: 1em;
}

.project-row {
    display: flex;
    justify-content: center;
}
.project-card {
    margin: 1em;
    background-color: #ddd;
    color: black;
}

.project-card .image {
    position: relative;
    display: inline-block;
}

.project-card .image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.project-card .image:hover {
    -webkit-filter: none;
    filter: none;
}

.image-overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* transition: all 0.1s; */
    cursor: pointer;
}

.image:hover .image-overlay {
    opacity: 1;
}

.project-card a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
}

.project-card i {
    color: white;
}

.project-card img {
    max-width: 14vw;
    max-height: auto;
    padding: 0.25em;
}

#search-plus {
    font-size: 4em;
    text-align: center;
}

.resume {
    color: #333;
    background-color: #eee;
}

.resume-html {
    background-color: rgb(255, 255, 255);
    color: black;
    min-height: 100%;
    min-width: 50%;
    padding: 5%;
}

.resume-header {
    text-align: center;
}

.section-body {
    margin-left: 10%;
}

.classes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.resume-contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume-button {
    margin: 1em;
    background-color: #ccc;
    color: black;
    padding: 1em;
    border: none;
    border-radius: 2.5%;
    transition: all 0.1s ease 0s;
}

.resume-button:hover {
    text-decoration: none;
    background-color: #717171;
    color: #eee;
}

.contact-me {
    color: #333;
}

.contact-me-contents {
    text-align: center;
    padding-bottom: 3em;
    color: #888;
}

.contact-me-contents span {
    font-size: 1.25vw;
}

.contact-me-contents p {
    font-size: 1.25vw;
    color: #333;
}

.line {
    border: 1;
    clear: both;
    display: block;
    width: 50%;
    background-color: white;
}

.footer-section {
    background-color: #383838;
    color: #b1b1b1;
    min-height: 66px;
    text-align: center;
}

.footer-section p {
    padding-top: 1em;
    font-size: 1em;
}

@media screen and (max-width: 1600px) {
    .name {
        font-size: 8vw;
    }
}

@media screen and (min-width: 1200px) and (max-height: 450px) {
    .intro-section {
        padding-top: 40vh;
    }

    .about-me,
    .projects,
    .resume,
    .contact-me {
        padding-top: 15vh;
    }
}

@media screen and (max-width: 1200px) {
    .about-me-contents {
        flex-direction: column;
    }

    .about-me-right {
        margin: 0 4em 2em 4em;
    }

    .about-me-left {
        margin: -1em 0 0 0;
    }

    .about-me-body {
        /* text-align: center; */
        font-size: 2vh;
    }

    .intro-section,
    .about-me,
    .projects,
    .resume,
    .contact-me {
        min-height: 40vh;
    }

    .home {
        /* margin-top: 66.4px; */
    }

    .projects {
        padding: 0px 0px 3em 0px;
    }

    .resume {
        padding: 0;
    }

    .resume-html {
        margin: 0px 10px;
    }
    .header {
        font-size: 4vw;
    }
    .contact-me-contents span {
        font-size: 2vw;
    }

    .contact-me-contents p {
        font-size: 2vw;
    }
}

@media screen and (max-width: 750px) {
    .name {
        font-size: 10vw;
    }

    .about-me-body {
        font-size: 2.75vw;
        text-align: center;
    }

    .about-me-avatar {
        width: 50vw;
    }
    .contact-me-contents span {
        font-size: 2.5vw;
    }

    .contact-me-contents p {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 600px) {
    .project-card img {
        max-width: 90px;
    }

    #search-plus {
        font-size: 2em;
    }
    .social-links a i {
        font-size: 2em;
    }
}

@media screen and (max-width: 700px) {
    .nav li {
        opacity: 0;
        visibility: hidden;
        transition: none;
    }

    .nav ul {
        justify-content: normal;
    }

    .nav .icon {
        display: flex;
        float: right;
        justify-content: center;
        align-items: center;
    }

    #hamburger {
        clear: both;
        float: right;
    }

    .top-nav.responsive {
        /* position: relative; */
        display: block;
    }
    .top-nav.responsive a.icon {
        position: relative;
        float: left;
        min-height: 66px;
    }
    .top-nav.responsive li {
        visibility: visible;
        opacity: 1;
        float: none;
        text-align: left;
        clear: both;
        transition: 0.1s ease all;
    }

    .top-nav.responsive li a {
        width: 100%;
        text-align: left;
        padding-left: 25px;
    }

    .about-me {
        padding-left: 0;
        padding-right: 0;
    }

    .intro-section {
        background-image: url("./components/small-intro-bg.jpg");
    }
}

@media screen and (min-height: 700px) {
    .contact-me {
        max-height: calc(100vh - 132px);
        min-height: calc(100vh - 132px);
    }
}
